<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tamagochi app!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
</head>
<body>
<ul>
    <li><a th:href="'\info?name='+${fox.getName()}">Information</a></li>
    <li><a href="\login">Log in</a></li>
    <li><a th:href="'\store?name='+${fox.getName()}">Nutrition store</a></li>
    <li><a th:href="'\tricks?name='+${fox.getName()}">Trick Center</a> </li>
    <li><a th:href="'\log?name='+${fox.getName()}">Log</a> </li>
</ul>
<div>
    <form method="post" action="/change">
        <label for="food">Food: </label>
        <select id="food" name="food">
            <option th:each="food : ${foods}" th:value="${food.getFoodName()}" th:text="${food.getFoodName()}" th:selected="${fox.getFood().getFoodName().equals(food.getFoodName())}"></option>
        </select>
        <label for="drink">Drink: </label>
        <select id="drink" name="drink">
            <option th:each="drink : ${drinks}" th:value="${drink.getDrinkName()}" th:text="${drink.getDrinkName()}" th:selected="${drink.getDrinkName().equals(fox.getDrink().getDrinkName())}"></option>
        </select>
        <input type="hidden" name="name" th:value="${fox.getName()}">
        <button type="submit">Change!</button>
    </form>
</div>
</body>
</html>