<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="/show.css" />
</head>
<body>
    <table cellspacing="0">
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
        </tr>
        <tr>
            <td th:text="${name}">name</td>
            <td th:text="|${balance} Zebra|">balance</td>
            <td th:text="${animalType}">animalType</td>
        </tr>

    </table>
</body>
</html>