.black{
    color: black;
}
.yellow{
    color: yellow;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.orange{
    color:orange;
}
.violet{
    color: violet;
}
.red {
    color: red;
}
.brown {
    color:  brown;
}
.one {
    font-size: 21px;
}
.two {
    font-size: 22px;
}
.three {
    font-size: 23px;
}
.four {
    font-size: 24px;
}
.five {
    font-size: 25px;
}
.six {
    font-size: 26px;
}
.seven {
    font-size: 27px;
}
.eight {
    font-size: 28px;
}
.nine {
    font-size: 29px;
}
.ten {
    font-size: 30px;
}