<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="/useful.css" />
</head>
<body>
<h1>Caesar coding app!</h1>
<div>
    <h3>We will code this for you!</h3>
    <form action="caesar">
        <div>
            <label for="text">Text:</label>
            <input name="text" id="text" type="text">
        </div>
        <div>
            <label for="number">Number:</label>
            <input name="number" id="number" type="number">
        </div>
        <button type="submit">Code!</button>
    </form>
    <H3 th:text="${coded}"></H3>
</div>
</body>
</html>